*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box; 
}
.Home {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: center;
    width: 100%;
    /* height: 100vh; */
    position: relative;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.Main{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    margin-top: 2%;
}

.One {
    order: -1;
    padding: 1em;
    flex: 0 0 50vw;
    color: whitesmoke;
    text-align: center;
    margin-top: 0%;
    margin-left: 3%;
}

h1 {
    font-size: 50px;
    line-height: 60px;
    padding: 1%;
    animation: text1 3s linear infinite;
}

 h2{
    animation: text1 3s linear infinite;
}

@keyframes text1{
    0%{
        opacity: 0;
    }
    30%{
        opacity: .5;
        color:pink;
    }
    65%{
        opacity: .5;
        color:rgb(28, 194, 200);
    }
    100%{
        opacity: 1;
        color: whitesmoke;
    }
}

@keyframes text{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity:1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-25vh);
        opacity: 0;
    }
}

.Two img {
    margin-top: 5%;
    padding: 10px;
    width: 150px;
    height: 150px;
    bottom: -20px;
    animation: image 3s linear infinite;

}

@keyframes image{
    0%{
        transform: translateY(25vh);
        opacity: 0;
    }
    50%{
        opacity:1;
    }
    70%{
        opacity: 1;
    }
    /* 90%{
        opacity: 0;
    } */
    100%{
        transform: translateY(-4vh);
        opacity: 0;
    }
}


a {
    text-decoration: none;
    color: whitesmoke;
}

img {
    width: 100%;
    height: 90%;
}
.Two{
    flex: 1;
    padding: 1em;
    color: whitesmoke;
    text-align: center;
    /* margin-top: 5%; */
}

.Three{
    flex: 0 0 20vw;
    padding: 1em;
}

.Footer {
    height: 20vh;
    padding: 1em;
}

.FlexFooter{
    display: flex;
    flex: 1;
    
}
.FlexFooter img {
    width: 40px;
    vertical-align: middle;
  }

.Link1{
    order: -1;
    padding: 1em;
    flex: 0 0 20vw;
    text-align: left;
    margin-left: 3%;
}

.Link2{
    flex: 1;
    padding: 1em;
}

.Link3{
    flex: 0 0 20vw;
    padding: 1em;
}

