*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box; 
}
.Home {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.Button-01 {
    background-color: transparent;
    border: solid;
    padding: 1%;
    color: whitesmoke;
    cursor: pointer;
    margin-top: 3%;
    margin-left: 8%;
}

.Main{
    display: flex;
    justify-content: space-evenly;
    /* flex: 1; */
    flex-direction: column;
    margin-top: 2%;
}

.One {
    /* order: -1; */
    flex: 1;
    padding: 1em;
    flex: 0 0 10vw;
    color:rgb(119, 8, 27);
    text-align: left;
    margin-top: 5%;
    /* margin-bottom: 8%; */
}

h1 {
    font-size: 50px;
    line-height: 60px;
    padding: 1%;
    margin-left: 7%;
    font-weight: 700
}

 h3{
    text-align: left;
    margin-left: 8%;
    font-weight: 700
}

a {
    text-decoration: none;
    color:rgb(118, 8, 27);
}

img {
    width: 100%;
    height: 90%;
}


.Footer {
    margin-top: 8%;
    bottom: 0;
    height: 20vh;
}

.FlexFooter{
    display: flex;
    justify-content: right;
    margin-right: 2%;

}
.FlexFooter img {
    width: 40px;
    padding: 5%;
    vertical-align: middle;
  }

@media screen and (max-width: 1220px){
    .One {
        flex: 1;
        padding: 1em;
        flex: 0 0 10vw;
        color:rgb(119, 8, 27);
        text-align: left;
        margin-top: 5%;
        margin-top: 100px;
        margin-bottom: 100px;
    }


    .Footer {
        margin-top: 5em;
    }
    
    .FlexFooter{
        margin-top: auto;
        display: flex;
        justify-content: space-around;
        margin-right: 2%;
    
    }
    .FlexFooter img {
        width: 40px;
        padding: 5%;
        vertical-align: middle;
      }
}


@media screen and (max-width: 650px){
    h1 {
        font-size: 36px;
        line-height: 40px;
        padding: 1%;
        margin-left: 10%;
        font-weight: 700
    }
    
    h3{
        text-align: left;
        margin-left: 22%;
        font-weight: 700
    }

    .Home {
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    
    .Button-01 {
        background-color: transparent;
        border: solid;
        padding: 1%;
        color: whitesmoke;
        cursor: pointer;
        margin-top: 3%;
        margin-left: 8%;
    }
    
    .Main{
        display: flex;
        /* flex: 1; */
        min-height: 100%;
        margin-top: 2%;
    }
    
    .One {
        /* order: -1; */
        flex: 1;
        padding: 1em;
        flex: 0 0 10vw;
        color:rgb(119, 8, 27);
        text-align: center;
        margin-top: 170px;
        margin-bottom: 170px;
    }
    
    
    a {
        text-decoration: none;
        color:rgb(118, 8, 27);
    }
    
    .Footer {
        margin-top: 2em;
    }
    
    .FlexFooter{
        display: flex;
        justify-content: space-between;
        margin-right: 2%;
    
    }
    .FlexFooter img {
        width: 40px;
        padding: 5%;
        vertical-align: middle;
      }
    
}
    
