.Wrapper {
    color: whitesmoke;
    max-width: 1350px;
    padding: 0px 60px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
    /* background-color: rgba(234,234,234,0.3); */
}

h3  {
    text-align: center;
    color: whitesmoke;
}

h2 {
    text-align: center;
    color: whitesmoke;
}

.Wrapper-images img {
    margin: 2%;
    height: 450px;
    width: 550px;
    cursor: pointer;
}

@media screen and (max-width: 650px){
    .Wrapper {
        color: whitesmoke;
        max-width: 650px;
        padding: 0px 40px;
        margin: 30px auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
        /* background-color: rgba(234,234,234,0.3); */
    }
    
    .Wrapper-images {
        /* margin: 2%; */
        height: 90%;
        width: 100%;
        cursor: pointer;
    }

    .Wrapper-images img {
        height: 100%;
        width: 100%;
    }
    
}
/* 
@media screen and (min-width: 1268px) {

    .Wrapper-images img {
        height: 600px;
        width: 700px;
    }
} */